.idea
.vscode

.env
.venv*

dist
*.egg-info

.coverage
coverage.*
htmlcov/
.sonar*

**__pycache__**
**/.DS_Store
docs/agent_inspect.*.rst
docs/agent_inspect.rst
docs/_build

paper_experiments/experiment_outputs*